:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--base-clr);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: ubuntu, sans-serif;
}

/* footer styles */
.footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    background-color: #2e2e2e;
    color: #f2f0e3;
}

/* login and register page styles  */
.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form {
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10vh;
    padding: 20px;
    width: 400px;
    background-color: #eeeeee;
}

.login_container .login-form h1 {
    text-align: center;
}

.login_info {
    flex-basis: 40px;
    border-radius: 5px;
    border-color: #0d6efd;
    background-color: #f1f4f7;
}

.login-form > label {
    margin-top: 10px;
}

#button {
    flex-basis: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #0d6efd;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

#button:hover {
    background-color: #2a44dc;
    transition: 0.3s;
}

#forgot {
    text-decoration: none;
    text-align: right;
    color: #2e2e2e;
}

#signUp{
    text-align: center;
}

#signUp > a {
    text-decoration: none;
    color: #0d6efd;
}


/* home page styles */

.main-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    gap: 10px;
    color: var(--text-clr);
}

.main-quote > p {
    font-size: 3rem;
    text-align: center;
}

.find-return>p {
    text-align: center;
}

.q-img {
    height: 30vh;
}

.even-img {
    order: 1;
}

.quote {
    background-color: #0d6efd;
    color: #e6e6e6;
    box-shadow: 5px 5px 15px -5px #0e6f8d;
    font-size: 1.5em;
    border-radius: 50px;
    text-align: center;
    width: 50%;
    height: 10%;
    padding: 1.5%;
    margin: 30px;
}


.quote-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* RESPONSIVNESS */

@media (max-width:910px) {
    .main-quote > p {
        font-size: 1.7rem;
    }

    .quote{
        font-size: 1rem;
    }
    .q-img {
        height: 20vh;
    }
}

